#top{background-color:#337ab7; text-align:center;width: 100%;}
col-xs-6 col-md-4{margin-bottom:10px}
font{color:#FFFFFF;}
#hidden{word-wrap: break-word;display:none;}
#message{text-align:center;}
#foot{text-align: center;padding: 10px;background: #337ab7;color: #fff;width: 100%;margin-bottom: 0px;}
#center{text-align:center;}
#centerlabel{text-align:center;}
